/* Decodificador - 1 Desktop */
/* --  Frame 6 -- */
position: relative;
width: 1440px;
height: 1024px;

/* Light blue/light-blue-100 */

background: #F3F5FC;

/* -- Ellipse 6 -- */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: #0A3871;

/* --  Frame 5 --  */
/* Digite um texto que você deseja criptografar ou descriptografar. */


position: static;
width: 336px;
height: 48px;
left: 0px;
top: 74px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;

/* Gray/gray-400 */

color: #495057;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;



/* Nenhuma mensagem encontrada */


position: static;
width: 336px;
height: 58px;
left: 0px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* or 29px */

text-align: center;

/* Gray/gray-500 */

color: #343A40;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;


/* -- High quality products 11 --  */
/* --- Vector --- */
position: absolute;
left: 51.8%;
right: 43.38%;
top: 20.72%;
bottom: 75.47%;

background: #000000;



/* Decodificador - 2 Desktop*/

/* Decodificador - 1 Tablet*/

/* Decodificador - 2 Tablet*/

/* Decodificador - 1 Celular*/

/* Decodificador - 2 Celular*/


