/* Decodificador - 1 Desktop */
/* --  Frame 6 -- */
position: relative;
width: 1440px;
height: 1024px;

/* Light blue/light-blue-100 */
background: #F3F5FC;

/* -- Ellipse 6 -- */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: #0A3871;

/* --  Frame 5 --  */
/* Digite um texto que você deseja criptografar ou descriptografar. */


position: static;
width: 336px;
height: 48px;
left: 0px;
top: 74px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;

/* or 24px */
text-align: center;

/* Gray/gray-400 */
color: #495057;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;
/* Nenhuma mensagem encontrada */
position: static;
width: 336px;
height: 58px;
left: 0px;
top: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;

/* or 29px */
text-align: center;

/* Gray/gray-500 */
color: #343A40;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;


/* -- High quality products 11 --  */
/* --- 1º Vector --- */
position: absolute;
left: 51.8%;
right: 43.38%;
top: 20.72%;
bottom: 75.47%;
background: #000000;

/* --- 2º Vector --- */
position: absolute;
left: 51.59%;
right: 42.56%;
top: 18.23%;
bottom: 77.85%;
background: #000000;


/* Rectangle 1 */
position: absolute;
width: 400px;
height: 944px;
left: 1000px;
top: 40px;


/* White */
background: #FFFFFF;

/* shadow */
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;


/* --  Frame 1 --  */
/* Apenas letras minúsculas e sem acento. */
position: static;
width: 228px;
height: 18px;
left: 24px;
top: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */
/* Gray/gray-400 */
color: #495057;
opacity: 0.8;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;

/* Vector */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
/* Gray/gray-400 */
background: #495057;


/* -- Frame 3 -- */
/* Button */
position: static;
width: 280px;
height: 19px;
left: 24px;
top: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
/* Dark blue/dark-blue-300 */
color: #0A3871;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 8px;

/* Button */
position: static;
width: 280px;
height: 19px;
left: 24px;
top: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 8px;


/* Digite seu texto */
position: absolute;
width: 680px;
height: 48px;
left: 240px;
top: 168px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* identical to box height, or 48px */

/* Dark blue/dark-blue-300 */
color: #0A3871;

/* Rectangle 1 */
position: absolute;
width: 400px;
height: 944px;
left: 1000px;
top: 40px;
/* White */
background: #FFFFFF;
/* shadow */
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;


/* Decodificador - 2 Desktop*/
/* -- Frame 1 --*/
/* Apenas letras minúsculas e sem acento. */
position: static;
width: 228px;
height: 18px;
left: 24px;
top: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;

/* identical to box height, or 18px */
/* Gray/gray-400 */
color: #495057;
opacity: 0.8;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;

/* Vector */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
/* Gray/gray-400 */
background: #495057;

/* -- Frame 6 --*/
/* --- Menu ----*/
/* Menu */
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
position: static;
display: none;
width: 120px;
height: 176px;
left: 0px;
top: 304px;
background: rgba(255, 255, 255, 0.24);
border-radius: 800px;
/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 40px 0px;

/* List */
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
position: static;
width: 72px;
height: 128px;
left: 24px;
top: 24px;
/* White */
background: #FFFFFF;
border-radius: 800px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;

/* Page icon */
position: static;
width: 40px;
height: 40px;
left: 16px;
top: 72px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 16px 0px;

/* ES */

position: absolute;
left: 25%;
right: 25%;
top: 20%;
bottom: 20%;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
text-align: center;
/* Dark blue/dark-blue-300 */
color: #0A3871;

/* Ellipse 6 */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Page icon */
position: static;
width: 40px;
height: 40px;
left: 16px;
top: 16px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 16px 0px;

/* PT */
position: absolute;
left: 25%;
right: 22.5%;
top: 20%;
bottom: 20%;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
text-align: center;
/* White */
color: #FFFFFF;

/* Ellipse 2 */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
/* Dark blue/dark-blue-300 */
background: #0A3871;



/* --- Menu ----*/
/* Menu */
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
position: static;
display: none;
width: 120px;
height: 176px;
left: 0px;
top: 88px;
background: rgba(255, 255, 255, 0.24);
border-radius: 800px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 40px 0px;

/* List */
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
position: static;
width: 72px;
height: 128px;
left: 24px;
top: 24px;
/* White */
background: #FFFFFF;
border-radius: 800px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;

/* Page icon */
position: static;
width: 40px;
height: 40px;
left: 16px;
top: 72px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 16px 0px;

/* mdi:head-outline */
position: absolute;
left: 20%;
right: 20%;
top: 20%;
bottom: 20%;

/* Vector */
position: absolute;
left: 8.55%;
right: 8.33%;
top: 4.17%;
bottom: 4.17%;

/* Ellipse 8 */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
/* Dark blue/dark-blue-300 */
background: #0A3871;

/* Page icon */
position: static;
width: 40px;
height: 40px;
left: 16px;
top: 16px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 16px 0px;

/* --- Logo ----*/

/* -- Button --*/

/* -- Frame 3 --*/



/* Decodificador - 1 Tablet*/

/* Decodificador - 2 Tablet*/

/* Decodificador - 1 Celular*/

/* Decodificador - 2 Celular*/


