/* Decodificador - 1 Desktop */
/* --  Frame 6 -- */
body
{
position: relative;
width: 1440px;
height: 1024px;

/* Light blue/light-blue-100 */
background: #F3F5FC;
}
/* -- Ellipse 6 -- */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: #0A3871;

/* --  Frame 5 --  */
/* Digite um texto que você deseja criptografar ou descriptografar. */


position: static;
width: 336px;
height: 48px;
left: 0px;
top: 74px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;

/* or 24px */
text-align: center;

/* Gray/gray-400 */
color: #495057;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;
/* Nenhuma mensagem encontrada */
position: static;
width: 336px;
height: 58px;
left: 0px;
top: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;

/* or 29px */
text-align: center;

/* Gray/gray-500 */
color: #343A40;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;


/* -- High quality products 11 --  */
/* --- 1º Vector --- */
position: absolute;
left: 51.8%;
right: 43.38%;
top: 20.72%;
bottom: 75.47%;
background: #000000;

/* --- 2º Vector --- */
position: absolute;
left: 51.59%;
right: 42.56%;
top: 18.23%;
bottom: 77.85%;
background: #000000;


/* Rectangle 1 */
position: absolute;
width: 400px;
height: 944px;
left: 1000px;
top: 40px;


/* White */
background: #FFFFFF;

/* shadow */
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;


/* --  Frame 1 --  */
/* Apenas letras minúsculas e sem acento. */
position: static;
width: 228px;
height: 18px;
left: 24px;
top: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */
/* Gray/gray-400 */
color: #495057;
opacity: 0.8;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;

/* Vector */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
/* Gray/gray-400 */
background: #495057;


/* -- Frame 3 -- */
/* Button */
position: static;
width: 280px;
height: 19px;
left: 24px;
top: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
/* Dark blue/dark-blue-300 */
color: #0A3871;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 8px;

/* Button */
position: static;
width: 280px;
height: 19px;
left: 24px;
top: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 8px;


/* Digite seu texto */
position: absolute;
width: 680px;
height: 48px;
left: 240px;
top: 168px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* identical to box height, or 48px */

/* Dark blue/dark-blue-300 */
color: #0A3871;

/* Rectangle 1 */
position: absolute;
width: 400px;
height: 944px;
left: 1000px;
top: 40px;
/* White */
background: #FFFFFF;
/* shadow */
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;


/* Decodificador - 2 Desktop*/
/* -- Frame 1 --*/
/* Apenas letras minúsculas e sem acento. */
position: static;
width: 228px;
height: 18px;
left: 24px;
top: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;

/* identical to box height, or 18px */
/* Gray/gray-400 */
color: #495057;
opacity: 0.8;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;

/* Vector */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
/* Gray/gray-400 */
background: #495057;

/* -- Frame 6 --*/
/* --- Menu ----*/
/* Menu */
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
position: static;
display: none;
width: 120px;
height: 176px;
left: 0px;
top: 304px;
background: rgba(255, 255, 255, 0.24);
border-radius: 800px;
/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 40px 0px;

/* List */
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
position: static;
width: 72px;
height: 128px;
left: 24px;
top: 24px;
/* White */
background: #FFFFFF;
border-radius: 800px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;

/* Page icon */
position: static;
width: 40px;
height: 40px;
left: 16px;
top: 72px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 16px 0px;

/* ES */

position: absolute;
left: 25%;
right: 25%;
top: 20%;
bottom: 20%;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
text-align: center;
/* Dark blue/dark-blue-300 */
color: #0A3871;

/* Ellipse 6 */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Page icon */
position: static;
width: 40px;
height: 40px;
left: 16px;
top: 16px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 16px 0px;

/* PT */
position: absolute;
left: 25%;
right: 22.5%;
top: 20%;
bottom: 20%;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
text-align: center;
/* White */
color: #FFFFFF;

/* Ellipse 2 */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
/* Dark blue/dark-blue-300 */
background: #0A3871;



/* --- Menu ----*/
/* Menu */
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
position: static;
display: none;
width: 120px;
height: 176px;
left: 0px;
top: 88px;
background: rgba(255, 255, 255, 0.24);
border-radius: 800px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 40px 0px;

/* List */
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
position: static;
width: 72px;
height: 128px;
left: 24px;
top: 24px;
/* White */
background: #FFFFFF;
border-radius: 800px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;

/* Page icon */
position: static;
width: 40px;
height: 40px;
left: 16px;
top: 72px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 16px 0px;

/* mdi:head-outline */
position: absolute;
left: 20%;
right: 20%;
top: 20%;
bottom: 20%;

/* Vector */
position: absolute;
left: 8.55%;
right: 8.33%;
top: 4.17%;
bottom: 4.17%;

/* Ellipse 8 */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
/* Dark blue/dark-blue-300 */
background: #0A3871;

/* Page icon */
position: static;
width: 40px;
height: 40px;
left: 16px;
top: 16px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 16px 0px;

/* carbon:text-small-caps */
position: absolute;
left: 20%;
right: 20%;
top: 20%;
bottom: 20%;

/* Vector */
position: absolute;
left: 6.25%;
right: 31.25%;
top: 18.75%;
bottom: 15.62%;
/* White */
background: #FFFFFF;

/* Vector */
position: absolute;
left: 56.25%;
right: 6.25%;
top: 40.62%;
bottom: 15.62%;
/* White */
background: #FFFFFF;

/* Ellipse 1 */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
/* Dark blue/dark-blue-300 */
background: #0A3871;

/* --- Logo ----*/
position: static;
width: 120px;
height: 48px;
left: 0px;
top: 0px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 40px 0px;

/* Vector */
position: absolute;
left: 36.67%;
right: 37.43%;
top: 0%;
bottom: 0%;
/* Dark blue/dark-blue-300 */
background: #0A3871;

/* -- Button --*/
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
position: absolute;
width: 336px;
height: 67px;
left: 1032px;
top: 885px;
/* Dark blue/dark-blue-300 */
border: 1px solid #0A3871;
box-sizing: border-box;
border-radius: 24px;

/* Button */
position: static;
width: 288px;
height: 19px;
left: 24px;
top: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
/* Dark blue/dark-blue-300 */
color: #0A3871;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 8px;

/* -- Frame 3 --*/
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
position: absolute;
width: 680px;
height: 67px;
left: 240px;
top: 885px;

/* Button */
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
position: static;
width: 328px;
height: 67px;
left: 352px;
top: 0px;
/* Dark blue/dark-blue-300 */
border: 1px solid #0A3871;
box-sizing: border-box;
border-radius: 24px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 24px;

/* Button */
position: static;
width: 280px;
height: 19px;
left: 24px;
top: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
/* Dark blue/dark-blue-300 */
color: #0A3871;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 8px;

/* Button */
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
position: static;
width: 328px;
height: 67px;
left: 0px;
top: 0px;
/* Dark blue/dark-blue-300 */
background: #0A3871;
border-radius: 24px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;


/* Button */
position: static;
width: 280px;
height: 19px;
left: 24px;
top: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
/* White */
color: #FFFFFF;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 8px;
/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci montes, sit et diam risus scelerisque vitae est. Tortor maecenas nunc ut laoreet. Eget diam mauris quam quisque ut eget fringilla sit elit. Libero, sodales duis fames id diam feugiat aliquet non egestas. */
position: absolute;
width: 680px;
height: 288px;
left: 240px;
top: 168px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* or 48px */
color: #0A3871;

/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci montes, sit et diam risus scelerisque vitae est. Tortor maecenas nunc ut laoreet. Eget diam mauris quam quisque ut eget fringilla sit elit. Libero, sodales duis fames id diam feugiat aliquet non egestas. */
position: absolute;
width: 336px;
height: 781px;
left: 1032px;
top: 72px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* or 36px */
/* Gray/gray-400 */
color: #495057;

/* Rectangle 1 */
position: absolute;
width: 400px;
height: 944px;
left: 1000px;
top: 40px;
/* White */
background: #FFFFFF;
/* shadow */
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;


/* Decodificador - 1 Tablet*/
position: relative;
width: 768px;
height: 1174px;
/* Light blue/light-blue-100 */
background: #F3F5FC;

/* -- Frame 5 --*/
/* Frame 5 */
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;
position: absolute;
width: 688px;
height: 133px;
left: 40px;
top: 1001px;
/* White */
background: #FFFFFF;
/* shadow */
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;

/* Digite um texto que você deseja criptografar ou descriptografar. */
position: static;
width: 624px;
height: 24px;
left: 0px;
top: 45px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
text-align: center;
/* Gray/gray-400 */
color: #495057;
/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;

/* Nenhuma mensagem encontrada */
position: static;
width: 624px;
height: 29px;
left: 0px;
top: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */
text-align: center;
/* Gray/gray-500 */
color: #343A40;
/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;


/* -- Frame 3 --*/
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
position: absolute;
width: 688px;
height: 67px;
left: 40px;
top: 870px;

/* Button */


/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
position: static;
width: 332px;
height: 67px;
left: 356px;
top: 0px;
/* Dark blue/dark-blue-300 */
border: 1px solid #0A3871;
box-sizing: border-box;
border-radius: 24px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
margin: 0px 24px;

/* Button */
position: static;
width: 284px;
height: 19px;
left: 24px;
top: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
/* Dark blue/dark-blue-300 */
color: #0A3871;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 8px;

/* Button */


/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
position: static;
width: 332px;
height: 67px;
left: 0px;
top: 0px;
/* Dark blue/dark-blue-300 */
background: #0A3871;
border-radius: 24px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 24px;

/* Button */
position: static;
width: 284px;
height: 19px;
left: 24px;
top: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
/* White */
color: #FFFFFF;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 8px;


/* -- Frame 1 --*/
/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 252px;
height: 18px;
left: 40px;
top: 836px;

/* Apenas letras minúsculas e sem acento. */


position: static;
width: 228px;
height: 18px;
left: 24px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */
/* Gray/gray-400 */

color: #495057;
/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;

/* bi:exclamation-circle-fill */

position: static;
width: 16px;
height: 16px;
left: 0px;
top: 1px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 8px;

/* Group */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Vector */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Gray/gray-400 */
background: #495057;

/* Digite seu texto */
position: absolute;
width: 688px;
height: 48px;
left: 40px;
top: 240px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* identical to box height, or 48px */
color: #0A3871;

/* Menu */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;

position: absolute;
visibility: hidden;
width: 176px;
height: 120px;
left: 552px;
top: 40px;

background: rgba(255, 255, 255, 0.24);
border-radius: 800px;

/* List */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px;

position: static;
width: 128px;
height: 72px;
left: 24px;
top: 24px;

/* White */

background: #FFFFFF;
border-radius: 800px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;

/* Page icon */


position: static;
width: 40px;
height: 40px;
left: 72px;
top: 16px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;

/* ES */
position: absolute;
left: 25%;
right: 25%;
top: 20%;
bottom: 20%;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
text-align: center;
/* Dark blue/dark-blue-300 */
color: #0A3871;

/* Ellipse 6 */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Page icon */
position: static;
width: 40px;
height: 40px;
left: 16px;
top: 16px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;


position: absolute;
left: 25%;
right: 22.5%;
top: 20%;
bottom: 20%;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
text-align: center;
/* White */
color: #FFFFFF;

/* Ellipse 2 */


position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
/* Dark blue/dark-blue-300 */
background: #0A3871;

/* Menu */


/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
position: absolute;
visibility: hidden;
width: 176px;
height: 120px;
left: 336px;
top: 40px;
background: rgba(255, 255, 255, 0.24);
border-radius: 800px;

Menu
Width 
128px
Height 
72px
Top 
24px
Left 
24px
Radius 
800px
Padding 
16px
Gap 
16px
Blend 
Pass through
Hug contents
Hug contents
White
#FFFFFF
/* List */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px;

position: static;
display: none;
width: 128px;
height: 72px;
left: 24px;
top: 24px;

/* White */

background: #FFFFFF;
border-radius: 800px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;

/* Page icon */


position: static;
width: 40px;
height: 40px;
left: 72px;
top: 16px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;

/* mdi:head-outline */


position: absolute;
left: 20%;
right: 20%;
top: 20%;
bottom: 20%;

/* Vector */


position: absolute;
left: 8.56%;
right: 8.33%;
top: 4.17%;
bottom: 4.17%;

/* Dark blue/dark-blue-300 */

background: #0A3871;

/* Ellipse 8 */


position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Page icon */


position: static;
width: 40px;
height: 40px;
left: 16px;
top: 16px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;

/* carbon:text-small-caps */
position: absolute;
left: 20%;
right: 20%;
top: 20%;
bottom: 20%;

/* Vector */


position: absolute;
left: 6.25%;
right: 31.25%;
top: 18.75%;
bottom: 15.62%;

/* White */
background: #FFFFFF;

/* Vector */
position: absolute;
left: 56.25%;
right: 6.25%;
top: 40.62%;
bottom: 15.62%;

/* White */
background: #FFFFFF;

/* Ellipse 1 */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
/* Dark blue/dark-blue-300 */
background: #0A3871;
position: absolute;
width: 31.09px;
height: 50.58px;
left: 40px;
top: 73.42px;

/* Vector */
position: absolute;
left: 5.21%;
right: 90.74%;
top: 6.25%;
bottom: 89.8%;
/* Dark blue/dark-blue-300 */
background: #0A3871;

/* Rectangle 5 */
position: absolute;
width: 31px;
height: 48px;
left: 40px;
top: 76px;
background: #E9ECF8;

/* Decodificador - 2 Tablet*/
position: relative;
width: 768px;
height: 1384px;
/* Light blue/light-blue-100 */
background: #F3F5FC;

/* Frame 5 */
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;
position: absolute;
width: 688px;
height: 343px;
left: 40px;
top: 1001px;
/* White */
background: #FFFFFF;
/* shadow */
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;

/* Button */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;

position: static;
width: 624px;
height: 67px;
left: 32px;
top: 244px;

/* Dark blue/dark-blue-300 */
border: 1px solid #0A3871;
box-sizing: border-box;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;

/* Button */


position: static;
width: 576px;
height: 19px;
left: 24px;
top: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */

color: #0A3871;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 8px;
/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci montes, sit et diam risus scelerisque vitae est. Tortor maecenas nunc ut laoreet. Eget diam mauris quam quisque ut eget fringilla sit elit. Libero, sodales duis fames id diam feugiat aliquet non egestas. */
position: static;
width: 624px;
height: 180px;
left: 32px;
top: 32px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* or 36px */
/* Gray/gray-400 */
color: #495057;

/* Frame 3 */
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
position: absolute;
width: 688px;
height: 67px;
left: 40px;
top: 870px;

/* Button */
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
position: static;
width: 332px;
height: 67px;
left: 356px;
top: 0px;
/* Dark blue/dark-blue-300 */
border: 1px solid #0A3871;
box-sizing: border-box;
border-radius: 24px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
margin: 0px 24px;



position: static;
width: 284px;
height: 19px;
left: 24px;
top: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
/* Dark blue/dark-blue-300 */
color: #0A3871;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 8px;



/* Button */
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
position: static;
width: 332px;
height: 67px;
left: 0px;
top: 0px;
/* Dark blue/dark-blue-300 */
background: #0A3871;
border-radius: 24px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 24px;


/* Button */


position: static;
width: 284px;
height: 19px;
left: 24px;
top: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* White */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 8px;


/* Frame 1 */
/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
position: absolute;
width: 252px;
height: 18px;
left: 40px;
top: 836px;

/* Apenas letras minúsculas e sem acento. */


position: static;
width: 228px;
height: 18px;
left: 24px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */


/* Gray/gray-400 */

color: #495057;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;

/* bi:exclamation-circle-fill */


position: static;
width: 16px;
height: 16px;
left: 0px;
top: 1px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 8px;


/* Group */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;


/* Vector */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
/* Gray/gray-400 */
background: #495057;


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci montes, sit et diam risus scelerisque vitae est. Tortor maecenas nunc ut laoreet. Eget diam mauris quam quisque ut eget fringilla sit elit. Libero, sodales duis fames id diam feugiat aliquet non egestas. */
position: absolute;
width: 688px;
height: 288px;
left: 40px;
top: 240px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* or 48px */
/* Dark blue/dark-blue-300 */
color: #0A3871;


/* Menu */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;

position: absolute;
visibility: hidden;
width: 176px;
height: 120px;
left: 552px;
top: 40px;

background: rgba(255, 255, 255, 0.24);
border-radius: 800px;


/* List */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px;

position: static;
width: 128px;
height: 72px;
left: 24px;
top: 24px;

/* White */

background: #FFFFFF;
border-radius: 800px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;


/* Page icon */


position: static;
width: 40px;
height: 40px;
left: 72px;
top: 16px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;


/* ES */


position: absolute;
left: 25%;
right: 25%;
top: 20%;
bottom: 20%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-align: center;

/* Dark blue/dark-blue-300 */

color: #0A3871;


/* Ellipse 6 */


position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;


/* Page icon */


position: static;
width: 40px;
height: 40px;
left: 16px;
top: 16px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;


/* PT */


position: absolute;
left: 25%;
right: 22.5%;
top: 20%;
bottom: 20%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-align: center;

/* White */

color: #FFFFFF;


/* Ellipse 2 */


position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Dark blue/dark-blue-300 */

background: #0A3871;



/* Menu */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;

position: absolute;
visibility: hidden;
width: 176px;
height: 120px;
left: 336px;
top: 40px;

background: rgba(255, 255, 255, 0.24);
border-radius: 800px;


/* List */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px;

position: static;
width: 128px;
height: 72px;
left: 24px;
top: 24px;

/* White */

background: #FFFFFF;
border-radius: 800px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;


/* Page icon */


position: static;
width: 40px;
height: 40px;
left: 72px;
top: 16px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;

/* mdi:head-outline */


position: absolute;
left: 20%;
right: 20%;
top: 20%;
bottom: 20%;

/* Vector */


position: absolute;
left: 8.55%;
right: 8.33%;
top: 4.17%;
bottom: 4.17%;

/* Dark blue/dark-blue-300 */

background: #0A3871;

/* Ellipse 8 */


position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Page icon */


position: static;
width: 40px;
height: 40px;
left: 16px;
top: 16px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;

/* carbon:text-small-caps */


position: absolute;
left: 20%;
right: 20%;
top: 20%;
bottom: 20%;

/* Vector */


position: absolute;
left: 6.25%;
right: 31.25%;
top: 18.75%;
bottom: 15.62%;

/* White */

background: #FFFFFF;

/* Vector */


position: absolute;
left: 56.25%;
right: 6.25%;
top: 40.62%;
bottom: 15.62%;

/* White */

background: #FFFFFF;


/* Ellipse 1 */


position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Dark blue/dark-blue-300 */

background: #0A3871;


/* Group 3 */


position: absolute;
width: 31.09px;
height: 49.03px;
left: 40px;
top: 74.97px;


/* Vector */


position: absolute;
left: 5.21%;
right: 90.74%;
top: 5.42%;
bottom: 91.16%;

/* Dark blue/dark-blue-300 */

background: #0A3871;

/* Rectangle 5 */


position: absolute;
width: 31px;
height: 48px;
left: 40px;
top: 76px;

background: #E9ECF8;



/* Decodificador - 1 Celular */


position: relative;
width: 375px;
height: 933px;

/* Light blue/light-blue-100 */

background: #F3F5FC;
/* Header */
/*-- Top --*/
/* Vector */
position: absolute;
left: 4.27%;
right: 87.2%;
top: 25%;
bottom: 25%;

/* Dark blue/dark-blue-300 */

background: #0A3871;
/* Frame 5 */
/* Frame 1 */
/* Frame 3 */



/* Decodificador - 2 Celular*/


